API_SCOPE=
CLIENT_ID=
CLIENT_SECRET=
NEXTAUTH_SECRET=
# Development: http://localhost:3000/
# Production: https://yoururl.dev
NEXTAUTH_URL=
NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>